
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

#infographic {
  max-width: 100%;
}

.header {
  margin-top: 1em;
  margin-bottom: 3em;
}


.text-header {
  /* font-family: 'Impact'; */
}

.text-inline {
  margin: 0;
  padding: 0;
}

/* --- Footer properties --- */
.footer {
  margin-top: 2em;
  background-color: #222222;
  padding: 2em;
}
.footer-link-container {
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
}
.footer-link {
  font-size: 1.1em;
  color: #aaaaaa;
  text-decoration: none !important;
}
.footer-link:hover {
  color: #ffffff;
  transition: 0.1s;
  text-decoration: none;
}

.text-white {
  color: #ffffff;
}

.social-media-icon {
  width: 24px;
  margin-right: 0.4em;
  margin-left: 0.4em;
}
.social-media-icon-mobile {
  width: 24px;
  margin-right: 0.6em;
  margin-left: 0.6em;
}

.text-spaced {
  letter-spacing: 0.5em;
}

.header-inline {
  margin-right: 2em;
  display: inline-block;
}

.mobile-header {
  padding-top: .5em;
  padding-bottom: .5em;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
}
.small-header-inline {
  display: inline-block;
  /* width: 100%; */
  /* text-align: center; */
}
.mobile-menu-button-open {
  /* position: absolute; */
  font-size: 1.4em;
  margin-left: .2em;
  margin-top: -.1em;
  padding-right: .5em;
  background-color: white;
  text-decoration: none;
  border: none;
}

.inline {
  display: inline-block;
}
.center {
  text-align: center;
}

.header-anchor {
  color: #444444;
  text-decoration: none !important;
}

.header-anchor:hover {
  color: #000000;
}

.main-container {
  min-width: 100%;
}

/* https://medium.com/bleeding-edge/enforcing-an-aspect-ratio-on-an-html-element-in-react-and-css-27a13241c3d4 */
.aspect-ratio--16x9 {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.aspect-ratio__inner-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.youtube-video {
  width: 100%;
  height: 100%;
}

.bottom-spacer {
  margin-bottom: 1em;
}

#mobile-menu {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: #000000dd;
  overflow-x: hidden;
  transition: 0.5s;
}

.close-button-container {
  text-align: right;
  /* background-color: #000000; */
  padding-top: 1.6em;
  padding-right: 2em;
  padding-bottom: .6em;
  width: 100%;
}

.mobile-menu-button-container {
  text-align: right;
  /* background-color: #0000; */
  padding: .8em;
  padding-right: 3em;
  width: 100%;
}
.mobile-menu-button {
  font-size: 1.6em;
  text-align: right;
  color: white;
  background-color: #0000;
  text-decoration: none;
  border: none;
}
.mobile-menu-button:hover {
  color: #bbb;
  /* background-color: #111111ff; */
  transition: 0.2s;
  text-decoration: none;
}

.spotify-follow-container {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  min-width: 100%;
  text-align: center;
  overflow-x: hidden;
}

.align-content-right {
  text-align: right;
}

/* .vertical-align {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
} */
