
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

#infographic {
  max-width: 100%;
  /* min-width: 200px; */
}

.header {
  margin-top: 1em;
  margin-bottom: 3em;
}

.text-header {
  /* font-family: 'Impact'; */
}

.text-inline {
  margin: 0;
  padding: 0;
}

.footer {
  margin-top: 2em;
  background-color: #222222;
  padding: 2em;
}

.text-white {
  color: #ffffff;
}

.social-media-icon {
  width: 24px;
  margin-right: 0.4em;
  margin-left: 0.4em;
}

.text-spaced {
  letter-spacing: 0.5em;
}

.header-inline {
  margin-right: 2em;
  display: inline-block;
}

.header-anchor {
  color: #444444;
  text-decoration: none !important;
}

.header-anchor:hover {
  color: #000000;
}

.main-container {
  min-width: 100%;
}

/* https://medium.com/bleeding-edge/enforcing-an-aspect-ratio-on-an-html-element-in-react-and-css-27a13241c3d4 */
.aspect-ratio--16x9 {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.aspect-ratio__inner-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.youtube-video {
  width: 100%;
  height: 100%;
}

.bottom-spacer {
  margin-bottom: 1em;
}

/* .vertical-align {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
} */

/* body, html {
  height: 100%;
}

.bg {
  background-image: url("/img/theRise1.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */