
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

#infographic {
  max-width: 100%;
}

.header {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 3em;
}

.text-header {
  /* font-family: 'Impact'; */
}

.text-inline {
  margin: 0;
  padding: 0;
}

.footer {
  margin-top: 2em;
  background-color: #222222;
  padding: 2em;
}

.text-white {
  color: #ffffff;
}

.social-media-icon {
  width: 24px;
  margin-right: 0.3em;
  margin-left: 0.3em;
}

.header-inline {
  margin-right: 2em;
  display: inline-block;
}

.header-anchor {
  color: #222222;
  text-decoration: none !important;
}

.header-anchor:hover {
  color: #000000;
}